body{
    direction:rtl;
    background: linear-gradient(to left, #143362, #081324);  
    margin:3%;
    font-size: 150%;
    font-family: Arial, "Times New Roman", serif;
    }
    
    header{     
        text-align: right;
        padding-bottom: 10px;
    }
    
    h1{
        color: #ffffff;
    }
    
    nav{
        font-variant: small-caps;	
        font-size: 150%;
    }
    
    h2{
        color: #ffffff;
        background: #09828600;
        border-bottom: 1px solid #ffffff; 
        padding-bottom: 5px; 
    }
    
    section{
        display:inline-block;
        width:25%;
        margin-top: 1%;
        float: right;
    }

    a {
        background-color: #ffffff00;
        color: #ffffff;
    }

    li {
        color: #ffffff;
    }

    .border {
        background-color: #000000;
        width: 150px;
        border: 2px solid rgb(255, 255, 255);
        padding: 5px;
        margin: 0px;
        color: #ffffff;
    }

    .logo{
        position: absolute; 
        top: 0px; 
        left: 40px; 
    }    
