body{
    direction:rtl;
    background-image: url('/Users/lironezer/Documents/GitHub/lironezer.github.io/imgs/blueBG.png');
    margin:5%;
    font-size: 150%;
    font-family: Arial, "Times New Roman", serif;
    }
    
    header{
        background: #bbbbbb00;
        text-align: right;
        padding-bottom: 10px;
    }
    
    h1{
        color: #ffffff;
    }
    
    nav{
        font-variant: small-caps;	
        font-size: 150%;
    }
    
    h2{
        color: #ffffff;
        background: #09828600;
        border-bottom: 1px solid #ffffff; 
        padding-bottom: 5px; 
    }
    
    section{
        display:inline-block;
        width:25%;
        margin-top: 1%;
        float: right;
    }
    
    summary{
        font-style: normal;
    }
    
    details{
        font-style: italic;
    }
    
    footer{
        background: #ffffff00;
        height:100px;
        clear: both;
    }
    
    a {
        background-color: #ffffff00;
        color: #ffffff;
    }

    li {
        color: #ffffff;
    }
    
    progress {
        background: #ff0000;
    }
    
    progress::-webkit-progress-bar {
        background-color: #666666;	
    }
    
    progress::-webkit-progress-value {
        background-color: #666666 !important;
    } 
    progress::-moz-progress-bar {
        background-color: #666666 !important;
    }

    .border {
        background-color: #000000;
        width: 150px;
        border: 2px solid rgb(255, 255, 255);
        padding: 5px;
        margin: 0px;
        color: #ffffff;
    }

    .logo{
        position: absolute; 
        top: 0; 
        left: 40px; 
    }    
