body, html {
    height: 100%;
    margin: 0;
    display:flexbox;
    justify-content: center;
    align-items: center;
    background-image: url('footage/forest03.png');
    background-size: 100% 100%;
}

h1 {
    text-align: right;
    color: #ffffff;
    margin-top: 20px; /* Add margin to separate from the top */

  }

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px; /* Add margin to separate from the top */
    top: 10%;
    left: 50%;
  }

  #dorothy {
    width:66px;
    height: 72px;
    position: absolute;
    top: 90%;
    left: 50%;
    background: url(footage/idle2.png) 0 0;
    animation: dorothyAnimation 1s steps(16) infinite;
    transform: translate(-50%, -50%);
    transition: top 1s, left 1s;
}

@keyframes dorothyAnimation {
    0% {background-position: 0 0;}
    100% {background-position: -1056px 0;}
}

.emoji {
    position: absolute;
    font-size: 2em;
    cursor: pointer;
}

#emoji1 { top: 33%; left: 880px; }
#emoji2 { top: 40%; right: 400px; }
#emoji3 { bottom: 55%; left: 580px; }
#emoji4 { top: 10%; left: 1200px; }
#emoji5 { bottom: 73%; right: 100px; }

.move {
    transition: top 0.5s, left 0.5s; /* Add transition for smooth movement */
}

#bonusButton {
    width: 210px;
    height: 30px;
    margin: 10px;
    position: relative;
    left: 0px;
    top: 0px;
    opacity: 0; 
    animation-name: buttonAppear;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes buttonAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*inventory*/
#inventory-box {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
}

#inventory-box h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#inventory-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

#inventory-list li {
    font-size: 16px;
}