body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('footage/Background3.png');
    background-size: cover;
    text-align: center;
}

.conversation-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dorothy {
    width: 66px; 
    height: 72px; 
    background-image: url('footage/idle2.png');
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s, left 1s;
}

#conversation1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conversation2 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conversation3 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conversation4 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message {
    font-size: 18px;
    margin-bottom: 20px;
}
.option-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.option-btn:hover {
    background-color: #0056b3;
}

/*inventory*/
#inventory-box {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
}

#inventory-box h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#inventory-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

#inventory-list li {
    font-size: 16px;
}
